In [4]:
import pandas as pd

In [5]:
train_item = pd.read_csv('fresh_comp_offline/tianchi_fresh_comp_train_item.csv')

In [6]:
train_item.shape

(620918, 3)

In [7]:
train_item.columns

Index([u'item_id', u'item_geohash', u'item_category'], dtype='object')

In [14]:
train_item['item_id'].count()

620918

In [15]:
train_item['item_category'].value_counts().shape

(1054,)

In [16]:
train_item['item_category'].count()

620918

In [9]:
train_item.head()

     item_id item_geohash  item_category
0  100002303          NaN           3368
1  100003592          NaN           7995
2  100006838          NaN          12630
3  100008089          NaN           7791
4  100012750          NaN           9614

In [17]:
train_user = pd.read_csv('fresh_comp_offline/tianchi_fresh_comp_train_user.csv')

In [ ]:
包括浏览、收藏、加购物车、购买，对应取值分别是1、2、3、4。

In [18]:
train_user.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [23]:
train_user['time'] = pd.to_datetime(train_user['time'], format = '%Y-%m-%d %H')

In [24]:
train_user.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18:00:00
1,10001082,4368907,1,NaN,5503,2014-12-12 12:00:00
2,10001082,4368907,1,NaN,5503,2014-12-12 12:00:00
3,10001082,53616768,1,NaN,9762,2014-12-02 15:00:00
4,10001082,151466952,1,NaN,5232,2014-12-12 11:00:00

In [69]:
items = train_user.item_id.drop_duplicates()

In [72]:
items.count()

4758484

In [70]:
item_behavior =[]
for item in items.values[:50]:
    ib = {'item_id': item, 
         'View': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 1)].count(),
         'Fav': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 2)].count(),
         'Chart': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 3)].count(),
         'Buy': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 4)].count()}
    item_behavior.append(ib)
df = pd.DataFrame(item_behavior)

In [73]:
item_behavior =[]
for item in train_item.item_id.values[:50]:
    ib = {'item_id': item, 
         'View': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 1)].count(),
         'Fav': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 2)].count(),
         'Chart': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 3)].count(),
         'Buy': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 4)].count()}
    item_behavior.append(ib)
df = pd.DataFrame(item_behavior)

In [75]:
df

    Buy  Chart  Fav  View    item_id
0     0      0    0     6  100002303
1     0      0    0     1  100003592
2     0      0    0     1  100006838
3     0      0    0     1  100008089
4     0      0    0     2  100012750
5     0      0    0     2  100014072
6     0      0    0     2  100014463
7     0      0    0     2  100019387
8     0      0    0     4  100023812
9     0      1    0     1   10003007
10    0      0    0     1  100030202
11    0      0    0     1   10003122
12    0      0    0     1  100033138
13    0      0    0     5  100033167
14    1      2    1    23  100039129
15    0      0    0     2  100041366
16    0      0    0     2  100041489
17    0      0    0     2  100041991
18    0      0    0     2  100042875
19    1      1    1    34  100044374
20    0      0    0     6  100044973
21    0      0    0     1  100045775
22    0      0    0     3  100048509
23    0      0    0     2  100054946
24    0      1    0     2  100059639
25    0      0    0     4  100063506
26    0      0    0     2  100072469
27    0      0    0     3   10007473
28    1      7    0    81  100079162
29    0      0    0     2  100082638
30    0      0    0     2  100082654
31    0      0    0     2  100086808
32    0      0    0     2  100090431
33    0      0    0     3  100090572
34    0      1    0    29  100095467
35    0      0    0     4  100097487
36    0      1    0     3  100097742
37    0      0    0     1  100097790
38    0      0    0     3  100097970
39    0      0    0     1  100100037
40    0      0    0     1  100103212
41    0      0    0     1  100103517
42    0      0    0     2  100103665
43    0      1    0     3  100105632
44    0      0    0     2  100105792
45    0      0    2    14  100110415
46    0      0    0    10  100112710
47    0      0    0     3  100112907
48    0      0    0     2  100113134
49    0      0    0     2  100125399

In [65]:
df.to_excel('item_behavior.xlsx','Sheet1')

In [40]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 4)].count()

user_id          4
item_id          4
behavior_type    4
user_geohash     0
item_category    4
time             4
dtype: int64

In [41]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 3)].count()

user_id          0
item_id          0
behavior_type    0
user_geohash     0
item_category    0
time             0
dtype: int64

In [42]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 2)].count()

user_id          0
item_id          0
behavior_type    0
user_geohash     0
item_category    0
time             0
dtype: int64

In [43]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 1)].count()

user_id          207
item_id          207
behavior_type    207
user_geohash      35
item_category    207
time             207
dtype: int64

In [16]:
单独的一列数据不具有统计意义？  
根据历史行为预测未来行为，行为与时间是否有关？有多大关系？
是否要把数据按用户分类？

SyntaxError: invalid syntax (<ipython-input-16-4462bce83505>, line 1)

In [17]:
item = train_user['item_id']

In [25]:
item.count()

23291027

In [22]:
train_item.count()

item_id          620918
item_geohash     203410
item_category    620918
dtype: int64

In [26]:
item.drop_duplicates().count()

4758484

In [27]:
train_user['item_category'].drop_duplicates().count()

9557

In [28]:
train_item['item_category'].drop_duplicates().count()

1054

In [29]:
float(train_user['time'])

TypeError: cannot convert the series to <type 'float'>

In [31]:
train_user.dtypes

user_id           int64
item_id           int64
behavior_type     int64
user_geohash     object
item_category     int64
time             object
dtype: object

In [45]:
dt = datetime.datetime.strptime('2010-01-01 18','%Y-%m-%d %H')

In [39]:
import datetime,time

In [46]:
time_tuple = dt.timetuple()

In [47]:
ts = time.mktime(time_tuple)

In [48]:
ts

1262340000.0

In [54]:
time = train_user['time']
times = []
for t in time:
    print t
    dt = datetime.datetime.strptime(t,'%Y-%m-%d %H')
    print dt
    time_tuple = dt.timetuple()
    print time_tuple
    ts = time.mktime(time_tuple) 
    print ts
    times.append(ts)

2014-12-08 18
2014-12-08 18:00:00
time.struct_time(tm_year=2014, tm_mon=12, tm_mday=8, tm_hour=18, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=342, tm_isdst=-1)

AttributeError: 'Series' object has no attribute 'mktime'