In [3]:
import pandas as pd

In [4]:
train_item = pd.read_csv('fresh_comp_offline/tianchi_fresh_comp_train_item.csv')

In [6]:
train_item.shape

(620918, 3)

In [7]:
train_item.columns

Index([u'item_id', u'item_geohash', u'item_category'], dtype='object')

In [14]:
train_item['item_id'].count()

620918

In [15]:
train_item['item_category'].value_counts().shape

(1054,)

In [16]:
train_item['item_category'].count()

620918

In [9]:
train_item.head()

     item_id item_geohash  item_category
0  100002303          NaN           3368
1  100003592          NaN           7995
2  100006838          NaN          12630
3  100008089          NaN           7791
4  100012750          NaN           9614

In [5]:
train_user = pd.read_csv('fresh_comp_offline/tianchi_fresh_comp_train_user.csv')

In [ ]:
包括浏览、收藏、加购物车、购买，对应取值分别是1、2、3、4。

In [18]:
train_user.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [23]:
train_user['time'] = pd.to_datetime(train_user['time'], format = '%Y-%m-%d %H')

In [6]:
train_user.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [32]:
train_user_buy = train_user[train_user.behavior_type == 4] #筛选出有购买行为的物品id

In [33]:
items = train_user_buy.item_id.drop_duplicates()

In [17]:
categories = list(train_item.item_category.drop_duplicates())

In [26]:
train_user_trim = train_user[train_user.item_category.isin(categories)] #筛选出在目标物品分类中的数据

In [40]:
train_user_trim.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
13,10001082,275221686,1,NaN,10576,2014-12-03 01
14,10001082,97441652,1,NaN,10576,2014-11-20 21
15,10001082,275221686,1,NaN,10576,2014-12-13 14
16,10001082,275221686,1,NaN,10576,2014-12-08 07
24,10001082,125083630,1,NaN,4722,2014-12-14 03

In [ ]:
新思路，对每一个buy行为，建立buy行为之前的分析，包括用户、货品ID、购买行为N天之前用户对货品ID的行为

In [39]:
items.head()

5       53616768
61     220586551
83     275221686
140    141312432
212    287413918
Name: item_id, dtype: int64

In [37]:
item_behavior =[]
tut = train_user_trim
for item in items.values:
    ib = {'item_id': item, 
         'View': train_user_trim.behavior_type[(train_user_trim.item_id == item) & (train_user_trim.behavior_type == 1)].count(),
         'Fav': train_user_trim.behavior_type[(train_user_trim.item_id == item) & (train_user_trim.behavior_type == 2)].count(),
         'Chart': train_user_trim.behavior_type[(train_user_trim.item_id == item) & (train_user_trim.behavior_type == 3)].count(),
         'Buy': train_user_trim.behavior_type[(train_user_trim.item_id == item) & (train_user_trim.behavior_type == 4)].count()}
    item_behavior.append(ib)
df = pd.DataFrame(item_behavior)
df.to_excel('item_behavior.xlsx','Sheet1')

In [73]:
item_behavior =[]
for item in train_item.item_id.values[:50]:
    ib = {'item_id': item, 
         'View': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 1)].count(),
         'Fav': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 2)].count(),
         'Chart': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 3)].count(),
         'Buy': train_user.behavior_type[(train_user.item_id == item) & (train_user.behavior_type == 4)].count()}
    item_behavior.append(ib)
df = pd.DataFrame(item_behavior)

In [41]:
df[df.Buy != 0]

        Buy  Chart  Fav  View    item_id
2         3      2    1   109  275221686
9         1      2    0    20   36925766
12        1      0    0    16   97781635
13        6      6    4   189  217620949
15        1      3    0   120  254127882
16        1      0    0     4   77022368
18        1      0    0    11  191963647
19        1      1    2    33   28462638
23       13     20    6   345  372600182
28        2      3    2    74  101185531
42        1      1    0    13   57517394
65        1      0    0     5  287996188
106       5      6    2   111  256506746
113       1      1    0     4  309088194
118       1      2    0    13  270613459
120       1      1    1    27    9816288
121       2      4    0    94  383472921
122       2      3    1    29  381520945
123       1      2    0    14  302023128
124       2      5    0    47  285949544
127       1      2    0    10  235429637
128       1      1    0     8  308701633
129       2      2    1    49  323575240
130       1      2    1    36  260210381
133       2      2    0     4  237726226
136       1      1    0    17  330966172
138       1      1    0    13   57066542
141       1      2    0     6  108790801
142       1      2    1    25  242461314
143       1      2    0    31  324301031
...     ...    ...  ...   ...        ...
169978    1      1    0    17  206137940
169979    1      0    0     7  369796681
169980    2      1    0    11  163789076
169981    1      2    0    17  245122846
169984    1      3    1    46  129544095
169985    1      1    1     9  175046109
169989    1      2    1    26  207322321
169994    1      1    0    13  244993027
169999    2      1    0    12  280888313
170075    1      2    0    16  278968028
170076    1      2    0    27  267903699
170078    1      0    0     4  333404686
170291    1      0    0     3  392233639
170302    1      0    1    35  139496704
170335    1      1    1    72   43824312
170336    1      0    0     4  325049068
170337    1      0    0    12  280964377
170339    1      1    0     2  308637069
170340    1      1    0     1  311484709
170343    1      1    0     1  130245969
170344    1      1    0     1  267898635
170345    1      0    0     6   45401102
170346    1      1    0     1  221271203
170347    1      1    0     1  250800694
170348    1      1    0     1   34603222
170352    1      0    1     5  290320897
170353    1      1    0     5  343749398
170366    1      1    0    13  344483839
170367    1      0    0    13  257213733
170403    1      1    2    29  217620750

[17627 rows x 5 columns]

In [36]:
df.to_excel('item_behavior.xlsx','Sheet1')

In [40]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 4)].count()

user_id          4
item_id          4
behavior_type    4
user_geohash     0
item_category    4
time             4
dtype: int64

In [41]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 3)].count()

user_id          0
item_id          0
behavior_type    0
user_geohash     0
item_category    0
time             0
dtype: int64

In [42]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 2)].count()

user_id          0
item_id          0
behavior_type    0
user_geohash     0
item_category    0
time             0
dtype: int64

In [43]:
train_user[(train_user.user_id == 10001082) & (train_user.behavior_type == 1)].count()

user_id          207
item_id          207
behavior_type    207
user_geohash      35
item_category    207
time             207
dtype: int64

In [16]:
单独的一列数据不具有统计意义？  
根据历史行为预测未来行为，行为与时间是否有关？有多大关系？
是否要把数据按用户分类？

SyntaxError: invalid syntax (<ipython-input-16-4462bce83505>, line 1)

In [17]:
item = train_user['item_id']

In [25]:
item.count()

23291027

In [22]:
train_item.count()

item_id          620918
item_geohash     203410
item_category    620918
dtype: int64

In [26]:
item.drop_duplicates().count()

4758484

In [27]:
train_user['item_category'].drop_duplicates().count()

9557

In [28]:
train_item['item_category'].drop_duplicates().count()

1054

In [29]:
float(train_user['time'])

TypeError: cannot convert the series to <type 'float'>

In [31]:
train_user.dtypes

user_id           int64
item_id           int64
behavior_type     int64
user_geohash     object
item_category     int64
time             object
dtype: object

In [45]:
dt = datetime.datetime.strptime('2010-01-01 18','%Y-%m-%d %H')

In [39]:
import datetime,time

In [46]:
time_tuple = dt.timetuple()

In [47]:
ts = time.mktime(time_tuple)

In [48]:
ts

1262340000.0

In [54]:
time = train_user['time']
times = []
for t in time:
    print t
    dt = datetime.datetime.strptime(t,'%Y-%m-%d %H')
    print dt
    time_tuple = dt.timetuple()
    print time_tuple
    ts = time.mktime(time_tuple) 
    print ts
    times.append(ts)

2014-12-08 18
2014-12-08 18:00:00
time.struct_time(tm_year=2014, tm_mon=12, tm_mday=8, tm_hour=18, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=342, tm_isdst=-1)

AttributeError: 'Series' object has no attribute 'mktime'